.valueCard, .unitCard {
    font-size: 20px;
    color: #000;
    white-space: nowrap;
}
.descriptionCard {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #565d6d
}
.skeletonDescription {
  margin-top: 6px;
}
/* .skeletonDescription :global(.ant-skeleton-input) {
  height: 12px;  
  min-height: 12px;
  line-height: 12px;
} */